@tailwind base;
@tailwind components;
@tailwind utilities;

/* Helpers opcionales */
html { scroll-behavior: smooth; }
.container-page { @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8; }
.section { @apply py-6 sm:py-8 lg:py-10; }
